.footer {
  position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 85px;
    background-color: #131a22;
    bottom: 0;

}

.footer__logo {
object-fit: contain;
    width: 100px;
}